@import '../../../assets/sass/libs/vars';
@import '../../../assets/sass/libs/vendor';
@import '../../../assets/sass/libs/functions';
@import '../../../assets/sass/libs/mixins';
@import '../../../assets/sass/libs/breakpoints';

.blog {
  --postHeight: 22rem;
  --imgHeight: 6rem;

  width: 100%;
  margin: 0 auto;

  .blog-section {
    position: relative;
    width: 100%;

    ul.blog-desktop {
      width: 75%;
      display: inline-grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      gap: 0.75rem;
      align-content: stretch;
      list-style: none;

      .blog-post {
        margin: 0;
        padding: 0 !important;
      }

      @include breakpoint('<=small') {
        display: none;
      }
    }

    ul.carousel {
      display: none;

      @include breakpoint('<=small') {
        margin-top: 0.5rem;
        display: flex !important;
      }
    }

    .blog-post {
      display: block;
      position: relative;
      box-sizing: content-box;
      border-radius: var(--borderRadius);
      border: 1px solid var(--light);
      height: var(--postHeight);
      box-shadow: 0px 0px 6px 0px var(--light);
      transition: box-shadow 0.5s ease-out;

      &:hover {
        box-shadow: 1px 1px 8px 8px var(--light);
      }

      img {
        width: inherit;
        height: var(--imgHeight);
        object-fit: cover;
        object-position: center;
        border-top-right-radius: var(--borderRadius);
        border-top-left-radius: var(--borderRadius);
      }

      .post-content {
        background-color: white;
        padding: 0.5rem 1rem;
        line-height: 1.2;
        font-size: 1rem;

        .post-date {
          font-size: 0.8rem;
          opacity: 0.75;
          color: var(--gray);
          text-align: right;
          width: 100%;
          display: block;
          margin-bottom: 0.5rem;
        }

        .piece-type {
          display: block;
          text-transform: uppercase;
          font-size: 0.5rem;
          width: fit-content;
          padding: 0 0.2rem;
          line-height: 2;
          margin-top: 1rem;

          &[data-key='illustration & graphic design'] {
            background-color: #efff45;
          }

          &[data-key='cosplay'] {
            color: white;
            background-color: #9127e6;
          }

          &[data-key='ux research'] {
            color: white;
            background-color: #8862e9;
          }

          &[data-key='creative coding'] {
            background-color: #e6c21c;
          }
        }

        h4 {
          font-family: var(--strongFontFamiliy);
          font-weight: var(--headerFontWeight);
          margin: 0.25rem 0;
        }

        .richtext {
          margin-bottom: 0.5rem;
          max-height: 5.5rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }

      a {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
      
      @include breakpoint('<=medium') {
        width: 14rem;
        margin-right: 1rem;
      }

      @include breakpoint('<=small') {
        width: 14rem;
        margin-right: 1rem;
      }
    }

    @include breakpoint('<=medium') {
      display: block;
      max-width: 100%;

      ul {
        width: 100%;
        justify-content: flex-start !important;
      }
    }

    @include breakpoint('<=small') {
      padding: 2rem 1rem;
      display: block;

      ul.blog-desktop {
        display: none;
      }
    }
  }
}
