@import '../../assets/sass/libs/vendor';

.inner {
  position: relative;
  height: 100%;

  .title-and-byline {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      font-size: 8rem;
      margin: 1rem 0;
      color: var(--dark);
    }

    .byline {
      text-align: 0;
      font-weight: 400;
      font-size: 3rem;
      color: var(--gray);
      //   background: linear-gradient(transparent, white, transparent);
    }
  }

  .bust-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      bottom: -5rem;

      // three tone
      path {
        @include vendor('transition', 'opacity 0.2s ease-in-out');
        @include vendor('transition-delay', '1.25s');
        opacity: 1;
        fill: var(--light);

        &.light {
          @include vendor('transition-delay', '1.75s');
        }

        &.teal {
          @include vendor('transition-delay', '2.25s');
          fill: var(--teal);
        }

        &.white {
          fill: white;
        }
      }
    }
  }
}
