@import '../../../assets/sass/libs/vars';
@import '../../../assets/sass/libs/vendor';
@import '../../../assets/sass/libs/functions';
@import '../../../assets/sass/libs/mixins';
@import '../../../assets/sass/libs/breakpoints';

.portfolio {
  --height: 10rem;

  width: 100%;
  margin: 0 auto;

  h2 {
    margin-bottom: 0;
    height: 1.75rem;
    color: var(--dark);
  }

  .portfolio-sections {
    .portfolio-section {
      &[data-key='cosplay'] {
        --cosplayHeight: calc(var(--height) * 2);

        .portfolio-piece {
          a,
          img {
            height: var(--cosplayHeight);
          }

          .title {
            height: var(--cosplayHeight);
          }
        }
      }

      &:nth-child(odd) {
        background-color: var(--light);

        & > div {
          flex-direction: row-reverse;
        }

        .piece-type {
          text-align: right;
        }
      }

      &:nth-child(even) {
        background-color: transparent;

        ul {
          justify-content: flex-end;
        }
      }

      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 2rem;
        margin: 0 auto;
        width: 100%;
        max-width: calc(1.5 * var(--siteWidth));

        .piece-type {
          width: 25%;
          margin: 0;
          padding: 0 1rem;
          font-size: 2.5rem;
          line-height: 1;
          color: var(--dark);
        }

        ul {
          width: 75%;
          display: flex;
          gap: 0.25rem;
          flex-wrap: wrap;
          align-items: center;
          list-style: none;
          padding: 1rem 0;
          margin: 0;
        }

        .portfolio-piece {
          margin: 0;
          padding: 0;
          max-width: 100%;

          a {
            position: relative;
            height: var(--height);
            width: fit-content;
            display: block;
            border: none;
            border-radius: var(--borderRadius);
            overflow: hidden;
          }

          img {
            height: var(--height);
            object-fit: cover;
            object-position: center center;
          }

          .title {
            box-sizing: border-box;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: var(--height);
            padding: 0.75rem;
            transition: opacity 0.2s ease-in-out;

            h4 {
              font-family: var(--strongFontFamiliy);
              font-weight: var(--headerFontWeight);
              font-size: 1.2rem;
              line-height: 1;
              overflow-wrap: anywhere;
              color: white;

              span {
                display: block;
                font-family: var(--fontFamily);
                font-weight: var(--bodyFontWeight);
                margin-top: 0.5rem;
              }
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        @include breakpoint('<=medium') {
          display: block;
          max-width: 100%;

          .piece-type {
            width: 100%;
            margin: 0;
            padding: 0;
            padding-top: 1.5rem;
            text-align: left !important;
          }

          ul {
            width: 100%;
            justify-content: flex-start !important;
          }
        }

        @include breakpoint('<=small') {
          padding: 2rem 1rem;
          display: block;

          .piece-type {
            min-width: auto;
            width: fit-content !important;
            margin-bottom: 0.25rem;
            font-size: 1.75rem !important;
          }

          ul {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}
