.porfolio-piece-full {
  position: relative;

  .back-button {
    position: relative;
    font-weight: 400;
    text-align: left;
    padding: 0;
    border: 0;
    box-shadow: none;
    overflow: visible;
    border-radius: 0;
    height: auto;
    line-height: 1.5rem;
    color: var(--gray);
    transition: all 0.2s ease-in;

    &::before {
      transition: all 0.1s ease-in;
      position: absolute;
      top: -0.05rem;
      left: -1rem;
      content: '«';
    }

    &:hover {
      background: none;
      border-bottom: dotted 1px;
      color: var(--dark);

      &::before {
        left: -1.25rem;
      }
    }
  }

  .type-role {
    margin-top: 1rem;
    text-transform: uppercase;
    span {
      text-transform: none;
    }
  }

  h2 {
    margin-bottom: var(--bottomMargin);
  }

  .hero {
    width: 100vw;
    max-height: 20rem;
    margin-bottom: 4rem;
    overflow: hidden;

    img {
      max-height: 20rem;
      width: 100%;
      object-fit: cover !important;
      object-position: center !important;
    }
  }

  .inner {
    img {
      max-width: 100%;
      border-radius: var(--borderRadius);
    }
  }

  .process-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      h3 {
        display: none;
      }
    }
  }

  .deliverables {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      margin-bottom: 2rem;
      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: var(--bottomMargin);
      }
    }
  }

  iframe {
    border-radius: var(--borderRadius);
  }
}
