@import '../../assets/sass/libs/breakpoints';

.carousel {
  display: none;

  ul {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 0;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;

    & > li {
      &:first-child {
        margin-left: 1rem !important; }

      &:last-child a {
          margin-right: 1rem !important;
      }
    }
  }

  @include breakpoint('<=small') {
    display: block;
    width: 100vw;
  }
}
