.richtext {
    h3 {
        margin-bottom: 0.75rem;
    }
    ul {
        li {
            p {
                margin: 0;
            }
        }
    }
}

.pdf-document {
  width: 100%;

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
